$base-font: 'Open Sans', sans-serif;
$base-font-size: 14px;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #FF6B00;
$color-transparent:rgba(255,255,255,0);
$color-lightgrey:#cccccc;
$color-skyblue:#109EB8;